<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>500</h1>
    </div>
    <h2>Oops! Error inesperado</h2>
    <p>Lo sentimos, pero la ha ocurrido un error, en caso de que persista, contacte al soporte tecnico.</p>
    <a href="/">Volver al inicio</a>
  </div>
</div>
