<section class="row center margin-container">
  <div>
    <h2><%= text %></h2>
    <%= form_for @guardarropa do |f| %>
      <p class="form-group">
        <%= text_field(:guardarropa, :name, {:class => 'form-control'})%>
      </p>
      <p class="container-btn-default">
        <%= f.submit :class => 'btn btn-default'%>
      </p>
    <% end %>
  </div>
</section>
