<div class=" margin-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Guardarropas</li>
        </ol>
    </nav>
    <div class="row center">
    </div>
    <div class="row">
        <% if @guardarropas.blank?  %>
        <div class="col-sm-12 container-empty">
            <i class="fa fa-exclamation-triangle"></i> <span class="text-center">No hay guardarropas</span>
        </div>
        <% else %>
        <% @guardarropas.each do |p| %>
        <%= render 'guardarropa', guardarropa: p %>
        <%end%>
        <%end%>
    </div>
    <div>
        <a href="/guardarropas/new" class="link-nueva-prenda">
            <i class="fa fa-plus"></i>
        </a>