<section class="section-wrapper area">
  <div class="cont_principal">
    <div class="cont_breadcrumbs_1">
      <ul>
        <li><a>Guardarropas</a></li>
      </ul>
    </div>
  </div>
  <div class="container pt-5">
    <div class=" margin-container">
      <div class="row center m-5">
        <% if @guardarropas.blank?  %>
          <div class="col-sm-12 container-empty">
            <i class="fa fa-exclamation-triangle"></i>  <span class="text-center">No hay guardarropas</span>
          </div>
        <% else %>
          <% @guardarropas.each do |p| %>
            <%= render 'guardarropa', guardarropa: p %>
          <%end%>
        <%end%>
      </div>
      <div>
        <a href="/guardarropas/new" class="link-nueva-prenda">
          <i class="fa fa-plus"></i>
        </a>
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </section>
