<div class=" margin-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Guardarropa</li>
            <li class="breadcrumb-item" aria-current="page">Prendas</li>
        </ol>
    </nav>


    <div class="row">
        <% if @guardarropa.prendas.blank?  %>
        <div class="col-sm-12 container-empty">
            <i class="fa fa-exclamation-triangle"></i> <span class="text-center">No hay prendas</span>
        </div>
        <% else %>
        <% @guardarropa.prendas.each do |p| %>
        <%= render 'prenda', prenda: p %>
        <%end%>
        <% end %>
    </div>
</div>
<div class="row center">
    <div class="col-sm-12 botonera-prendas">
        <a type="button" class="btn btn-primary" href="/guardarropas/<%= @guardarropa.id %>/atuendos">Ver atuendos</a>
        <a type="button" class="btn btn-primary" href="/guardarropas/<%= @guardarropa.id %>/atuendos/new">Crea un atuendo</a>
        <a type="button" class="btn btn-primary" href="/guardarropas/<%= @guardarropa.id %>/atuendos-generate">Generar atuendo</a>
    </div>
</div>
<a href="/prendas/new" class="link-nueva-prenda">
    <i class="fa fa-plus"></i>
</a>