<div class="row">
    <div class="col-md">
        <%= render 'prenda', prenda: atuendo.cabeza %>
    </div>
    <div class="col-md">
        <%= render 'prenda', prenda: atuendo.cabeza %>
    </div>
    <div class="col-md">
        <%= render 'prenda', prenda: atuendo.piernas %>
    </div>
    <div class="col-md">
        <%= render 'prenda', prenda: atuendo.pies %>
    </div>
</div>