<div class=" margin-container">
    <div class="row center">
        <h2>Atuendos</h2>
    </div>
    <div class="row">
        <% @atuendos.each do |p| %>
            <%= link_to "", { :controller => :atuendos, :action => :edit, id: p.id }, { class: "fa fa-pencil-square-o"} %>
            <%= render 'atuendo', atuendo: p %>
        <%end%>
    </div>
<div>