<div class=" margin-container">
    <div class="row center p-4">
        <h1>Atuendos</h1>
    </div>
    <div class="row atuendos-wrapper">
        <% if @atuendos.blank?  %>
        <div class="col-sm-12 container-empty">
            <i class="fa fa-exclamation-triangle"></i> <span class="text-center">No hay atuendos</span>
        </div>
        <% else %>
        <% @atuendos.each do |p| %>
        <%= render 'atuendo', atuendo: p %>
        <%end%>
        <%end%>
    </div>
    <div>