<section class="section-wrapper area">
  <div class="container">
    <%= render 'atuendo', atuendo: @atuendo%>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
