<section>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('/assets/img3.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Quiero, puedo, merezco.</h3>
          <p>Vestirse bien es un acto de gratitud hacia uno mismo.</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/assets/img2.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Olvidate de las reglas. Si te gusta, úsalo!</h3>
          <p>Tu ropa le muestra al mundo como sos sin tener que hablar.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/assets/img1.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Sé vos mismo.</h3>
          <p>No diseñamos atuendos, diseñamos sueños.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section class="page-section mt-5" id="services">
  <div class="container mb-5">
    <div class="text-center p-5">
      <h2 class="section-heading text-uppercase">Servicios</h2>
      <h3 class="section-subheading text-muted">El arte de vestirse bien.</h3>
    </div>
    <div class="row text-center mx-5">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="m-5">100% Gratis!</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="m-5">Accede a tus atuendos desde cualquier lugar!</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="m-5">Mantenemos protegida tu privacidad</h4>
        <p class="text-muted mx-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
