<section class="section-wrapper area">
  <div class="container pt-5">
    <%= render 'form', prenda: @prenda, text:"Edición prenda" %>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
