<section class="section-wrapper area">
  <div class="container pt-5">
    <%= render 'form', guardarropa: @guardarropa, prenda: @prenda, text:"Creación prenda" %>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
