.atuendos-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.atuendoInfo-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #ebbfa3;
  margin: 2rem;
  text-align: center;
  h6 {
    font-weight: bold;
  }
  .Etiquetas {
    flex: 1 1 40rem;
  }
  .Descripcion {
    flex: 1 1 40rem;
  }
  .Puntaje {
    flex: 1 1 40rem;
  }
}

$starColour: #d35401;
$starHoverColour: #df8046;

.star-rating {
  font-family: "FontAwesome";
  margin: 2rem auto;

  > fieldset {
    border: none;
    display: inline-block;

    &:not(:checked) {
      > input {
        position: absolute;

        clip: rect(0, 0, 0, 0);
      }

      > label {
        float: right;
        width: 1em;
        padding: 0 0.05em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        color: $starColour;

        &:before {
          content: "\f006  ";
        }

        &:hover,
        &:hover ~ label {
          color: $starHoverColour;
          text-shadow: 0 0 3px $starHoverColour;
          &:before {
            content: "\f005  ";
          }
        }
      }
    }

    > input:checked {
      & ~ label {
        &:before {
          content: "\f005  ";
        }
      }
    }

    > label:active {
      position: relative;
      top: 2px;
    }
  }
}

