.atuendos-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.badge {
  padding: 0.7rem !important;
  margin: 1rem 0rem !important;
  margin-left: 1.5rem !important;
}

$starColour: #d35401;
$starHoverColour: #df8046;

.star-rating {
  font-family: "FontAwesome";
  margin: 2rem auto;

  >fieldset.star-show {
    border: none;
    display: inline-block;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;

    label {

      float: right;
      width: 1em;
      padding: 0 0.05em;
      overflow: hidden;
      white-space: nowrap;
      font-size: 200%;
      color: $starColour;

      >input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
      }

      &:before {
        content: "\f006  ";
      }
    }

    label.star-color {
      color: $starHoverColour;
      text-shadow: 0 0 3px $starHoverColour;

      &:before {
        content: "\f005  ";
      }
    }
  }

  >fieldset.star-edit {
    border: none;
    display: inline-block;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;

    &:not(:checked) {
      >input {
        position: absolute;

        clip: rect(0, 0, 0, 0);
      }

      >label {
        float: right;
        width: 1em;
        padding: 0 0.05em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        color: $starColour;

        &:before {
          content: "\f006  ";
        }

        &:hover,
        &:hover~label {
          color: $starHoverColour;
          text-shadow: 0 0 3px $starHoverColour;

          &:before {
            content: "\f005  ";
          }
        }
      }
    }

    >input:checked {
      &~label {
        &:before {
          content: "\f005  ";
        }
      }
    }

    >label:active {
      position: relative;
      top: 2px;
    }
  }
}

.atuendo-descripcion {
  margin: 0 12px 32px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}