.actions{
  a{
    color: black;
    text-align: center;
    font-size: 20px;
  }
}
/*Global styles*/

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

label{
  font-size: 1.5rem;
}

li,
button,
input,
a-title-head,
p {
  font-size: 2.5rem;
}


h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 4rem;
}
h4,
h5 {
  font-size: 3.4rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
 
body {
  animation: opening 1s ease-in-out;

  .btn-success{
    background-color: #079453;
  }
}
