body {
  animation: opening 1s ease-in-out;

  .btn-success {
    background-color: #079453;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .margin-container {
    margin-top: 5%;
  }

  .container-empty {
    background: #f2f2f2;
    padding: 5%;
    text-align: center;
    font-size: 18px;
    border-radius: 11px;
    margin: 5% 0;
  }

  .container-new-atuendos {
    width: 100%;
  }

  .botonera-prendas {
    padding: 3em;
  }
}

.actions {
  a {
    color: black;
    text-align: center;
    font-size: 20px;
  }
}

html {
  font-size: 62.5%;
}



label {
  font-size: 1.5rem;
}

li,
button,
a-title-head,
p {
  font-size: 2.5rem;
}

input {
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4,
h5 {
  font-size: 2.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.no-underline {
  text-decoration: none !important
}

.section-wrapper {
  min-height: 89.9vh;

  background: rgba(180, 76, 20, 0.1);
}


.pagination>li>a {
  background-color: white;
  color: #b44c14;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination>.active>span {
  color: white;
  background-color: #b44c14 !important;
  border: solid 1px #b44c14 !important;
}

.alert {
  position: absolute !important;
  top: 11rem !important;
  right: 0 !important;

}

.fade {
  opacity: 100% !important;
}