/*Global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(6rem + 1vw);
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
  animation: opening 1s ease-in-out;
}
h1 {
  font-family: sans-serif;
}
