/*NAV VAR*/
.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}
.logo {
  flex: 1 1 20rem;
  font-family: "Pattaya", sans-serif;
  color: white;
  text-shadow: 2px 2px 10px black;
}
.nav-links {
  flex: 1 1 20rem;
  display: flex;
  justify-content: space-around;
  text-shadow: 2px 2px 10px black;
  font-family: sans-serif;
  a {
    font-size: 2.7rem;
  }
}

/*SECTION INDEX*/
.prendas-index {
  min-height: 90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}
.background-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index: -1;
}

.prendas-view {
  flex: 1 1 40rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.prendas-tb {
  display: flex;
  align-items: center;
  padding: 10rem;
  td {
    padding: 0.5rem 5rem;
    text-align: center;
    background-color: #e6395691;
    font-size: 1.2rem;
    color: white;
    font-family: "Ruhl", sans-serif;
  }
  th {
    text-shadow: 2px 2px 10px black;
    padding: 0.5rem 5rem;
    text-align: center;
    background-color: #452416;
    font-size: 1.2rem;
    color: white;
    font-family: "Ruhl", sans-serif;
  }
}

.lady-container {
  display: flex;
  flex: 1 1 40rem;

  position: relative;
  img {
    height: 80rem;
    position: absolute;
    bottom: 0;
    right: 19rem;
  }
}
