@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
 */
body {
/*   height: 100vh;

  box-sizing: border-box;
  font-family: "Roboto", "Sans-serif";
  background-color: whitesmoke; */

    a.link-nueva-prenda{
      border-radius: 50%;
      vertical-align: middle;
      width: 56px;
      position: fixed;
      cursor: pointer;
      overflow: hidden;
      height: 56px;
      padding: 0;
      background-color: #D35400!important;
      color: white;
      text-align: center;
      transition: .3s ease-out;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      bottom: 3em;
      right: 3em;
      line-height: 56px;
    }
    main{
      margin-top: 5%;
      .container-btn-default{
        text-align: center;
        margin-top: 20px;
      }
      .btn-default{
        background-color: #a94b0e;
        color: white;
        padding: 0.5em 0.5em;
        font-size: 15px;
        transition: .3s ease-out;
      }
      .btn-default:hover{
        background-color: #da6a22;
        color: white;
      }
    }
}

.card-wrapper {
  display: flex;
  padding: 1.5rem;
}
.container_prenda_atuendos{
  display: inline-block;
  width: 90%;
}

.hero-img {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #dad1d4);
  z-index: -1;
  position: relative;
}
.hero-cindy {
  object-fit: cover;
  height: 80%;
}

.plant {
  position: absolute;
  bottom: 0;
  z-index: -2;
  left: -20%;
  transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards,
    plant-shake 2.5s infinite ease alternate-reverse 2s;
  transform-origin: bottom;
  max-height: 80%;
}
.plant2 {
  left: 40%;
}

.card {
  margin: 1rem;
  height: 250px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 12px 32px 4px rgba(black, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  .title {
    color: white;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: 0.2s;
    cursor: pointer;

    &--legendary {
      background-color: #f4d03f;
      &:hover {
        box-shadow: 0 0 12px rgba(#f4d03f, 0.8);
      }
    }

    &--epic {
      background-color: #8c14fc;
      &:hover {
        box-shadow: 0 0 12px rgba(#8c14fc, 0.8);
      }
    }

    &--common {
      background-color: #2ecc71;
      &:hover {
        box-shadow: 0 0 12px rgba(#2ecc71, 0.8);
      }
    }
  }

  .desc {
    text-align: center;
    padding: 1.5rem;
  }

  .actions {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;

    button {
      padding: 0.5rem 0.8rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      outline: 0;
      transition: background-color 0.4s, color 0.4s, transform 0.1s;
      display: flex;
      justify-content: center;

      &:hover {
        color: white;
        box-shadow: 0 0 24px rgba(black, 0.2);
      }

      &:active {
        transform: scale(0.95);
        box-shadow: 0 0 16px rgba(black, 0.3);
      }
    }

    &__like {
      &:hover {
        background-color: #00b16a;
      }
    }

    &__trade {
      &:hover {
        background-color: #3498db;
      }
    }

    &__cancel {
      &:hover {
        background-color: #c0392b;
      }
    }
  }
}

p {
  margin-top: 1rem;
  color: #484848;
}

.active {
  background-color: #00b16a;
}

button::-moz-focus-inner {
  border: 0;
}
