body {
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

body .btn-success {
  background-color: #079453;
}

body .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .margin-container {
  margin-top: 12%;
}

body .container-empty {
  background: #f2f2f2;
  padding: 5%;
  text-align: center;
  font-size: 18px;
  border-radius: 11px;
  margin: 5% 0;
}

body .container-new-atuendos {
  width: 100%;
}

body .botonera-prendas {
  padding: 3em;
}

.actions a {
  color: black;
  text-align: center;
  font-size: 20px;
}

html {
  font-size: 62.5%;
}

label {
  font-size: 1.5rem;
}

li,
button,
input,
a-title-head,
p {
  font-size: 2.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4,
h5 {
  font-size: 3.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.no-underline {
  text-decoration: none !important;
}

header {
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  min-height: 8vh;
}

.main-head {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.main-head .border-nav-one {
  background: #D35401;
  margin-bottom: 0;
  padding: 5px 1.25rem;
}

.main-head .border-nav-two {
  background: #d3540157;
  margin-bottom: 0;
  padding: 3px 1.25rem;
}

.nav-bar {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0rem;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

th,
td {
  font-size: 2rem;
}

body a.link-nueva-prenda {
  border-radius: 50%;
  vertical-align: middle;
  width: 56px;
  position: fixed;
  cursor: pointer;
  overflow: hidden;
  height: 56px;
  padding: 0;
  background-color: #D35400 !important;
  color: white;
  text-align: center;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  bottom: 3em;
  right: 3em;
  line-height: 56px;
}

body main {
  margin-top: 5%;
}

body main .container-btn-default {
  text-align: center;
  margin-top: 20px;
}

body main .btn-default {
  background-color: #a94b0e;
  color: white;
  padding: 0.5em 0.5em;
  font-size: 15px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

body main .btn-default:hover {
  background-color: #da6a22;
  color: white;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
}

.container_prenda_atuendos {
  display: inline-block;
  width: 90%;
}

.card {
  margin: 1rem;
  height: 250px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.card .title {
  color: white;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.card .title--legendary {
  background-color: #f4d03f;
}

.card .title--legendary:hover {
  -webkit-box-shadow: 0 0 12px rgba(244, 208, 63, 0.8);
          box-shadow: 0 0 12px rgba(244, 208, 63, 0.8);
}

.card .title--epic {
  background-color: #8c14fc;
}

.card .title--epic:hover {
  -webkit-box-shadow: 0 0 12px rgba(140, 20, 252, 0.8);
          box-shadow: 0 0 12px rgba(140, 20, 252, 0.8);
}

.card .title--common {
  background-color: #2ecc71;
}

.card .title--common:hover {
  -webkit-box-shadow: 0 0 12px rgba(46, 204, 113, 0.8);
          box-shadow: 0 0 12px rgba(46, 204, 113, 0.8);
}

.card .desc {
  text-align: center;
  padding: 1.5rem;
}

.card .actions {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

.card .actions button {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  outline: 0;
  -webkit-transition: background-color 0.4s, color 0.4s, -webkit-transform 0.1s;
  transition: background-color 0.4s, color 0.4s, -webkit-transform 0.1s;
  transition: background-color 0.4s, color 0.4s, transform 0.1s;
  transition: background-color 0.4s, color 0.4s, transform 0.1s, -webkit-transform 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .actions button:hover {
  color: white;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

.card .actions button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.card .actions__like:hover {
  background-color: #00b16a;
}

.card .actions__trade:hover {
  background-color: #3498db;
}

.card .actions__cancel:hover {
  background-color: #c0392b;
}

p {
  margin-top: 1rem;
  color: #484848;
}

.active {
  background-color: #00b16a;
}

button::-moz-focus-inner {
  border: 0;
}

.atuendos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.etiquetas-atuendos {
  padding: 5px 15px;
  border: 1px solid #bfbfbf;
  border-radius: 15px;
  text-transform: capitalize;
  margin-left: 10px;
}

.star-rating {
  font-family: "FontAwesome";
  margin: 2rem auto;
}

.star-rating > fieldset {
  border: none;
  display: inline-block;
}

.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.star-rating > fieldset:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: #d35401;
}

.star-rating > fieldset:not(:checked) > label:before {
  content: "\f006  ";
}

.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
  color: #df8046;
  text-shadow: 0 0 3px #df8046;
}

.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  content: "\f005  ";
}

.star-rating > fieldset > input:checked ~ label:before {
  content: "\f005  ";
}

.star-rating > fieldset > label:active {
  position: relative;
  top: 2px;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.login-form {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #f5f5f5;
  padding: 2rem 3rem;
  max-width: 27%;
  border-radius: 25px;
}

.login-form h1 {
  padding: 1rem 0rem;
}

.login-form .campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.login-form .campo input {
  font-size: 1.5rem;
  margin: 1rem 0rem;
  width: 70%;
}

.login-form label {
  font-size: 2rem;
}

.login-form .nuevo-user a {
  color: saddlebrown;
}

.login-form .nuevo-user p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.login-form .btn {
  font-size: 2rem;
  margin: 1.2rem;
  margin-bottom: 0rem;
  padding: 0.5rem 1.5rem;
  background: #a75123;
  border: #a75123;
}

.login-form .btn:hover {
  background: #663a00;
  border: #663a00;
}

.login-section {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.error_explanation {
  margin: 1rem;
}

.error_explanation li,
.error_explanation ul {
  font-size: 1.2rem;
}

.error_explanation h2 {
  font-size: 1.4rem;
}

@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

@keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #bf5d24), color-stop(80%, #402319));
  background-image: linear-gradient(to top, #bf5d24 20%, #402319 80%);
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  -webkit-animation: move_wave 10s linear infinite;
          animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  -webkit-animation: move_wave 15s linear infinite;
          animation: move_wave 15s linear infinite;
}
/*# sourceMappingURL=application.css.map */