@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.actions a {
  color: black;
  text-align: center;
  font-size: 20px;
}

/*Global styles*/
html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

label {
  font-size: 1.5rem;
}

li,
button,
input,
a-title-head,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4,
h5 {
  font-size: 3.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

body .btn-success {
  background-color: #079453;
}

body .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .margin-container {
  margin-top: 12%;
}

body .container-empty {
  background: #f2f2f2;
  padding: 5%;
  text-align: center;
  font-size: 18px;
  border-radius: 11px;
  margin: 5% 0;
}

body .container-new-atuendos {
  width: 100%;
}

body .botonera-prendas {
  padding: 3em;
}

/*NAV BAR*/
header {
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  height: 64px;
}

.main-head {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.main-head .border-nav-one {
  background: #D35401;
  margin-bottom: 0;
  padding: 5px 1.25rem;
}

.main-head .border-nav-two {
  background: #d3540157;
  margin-bottom: 0;
  padding: 3px 1.25rem;
}

.nav-bar {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 64px;
  padding: 2rem 0rem;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

th,
td {
  font-size: 2rem;
}

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
 */
body {
  /*   height: 100vh;

  box-sizing: border-box;
  font-family: "Roboto", "Sans-serif";
  background-color: whitesmoke; */
}

body a.link-nueva-prenda {
  border-radius: 50%;
  vertical-align: middle;
  width: 56px;
  position: fixed;
  cursor: pointer;
  overflow: hidden;
  height: 56px;
  padding: 0;
  background-color: #D35400 !important;
  color: white;
  text-align: center;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  bottom: 3em;
  right: 3em;
  line-height: 56px;
}

body main {
  margin-top: 5%;
}

body main .container-btn-default {
  text-align: center;
  margin-top: 20px;
}

body main .btn-default {
  background-color: #a94b0e;
  color: white;
  padding: 0.5em 0.5em;
  font-size: 15px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

body main .btn-default:hover {
  background-color: #da6a22;
  color: white;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
}

.container_prenda_atuendos {
  display: inline-block;
  width: 90%;
}

.hero-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#dad8dd), to(#dad1d4));
  background: linear-gradient(#dad8dd, #dad1d4);
  z-index: -1;
  position: relative;
}

.hero-cindy {
  -o-object-fit: cover;
     object-fit: cover;
  height: 80%;
}

.plant {
  position: absolute;
  bottom: 0;
  z-index: -2;
  left: -20%;
  -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
          transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards, plant-shake 2.5s infinite ease alternate-reverse 2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  max-height: 80%;
}

.plant2 {
  left: 40%;
}

.card {
  margin: 1rem;
  height: 250px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.card .title {
  color: white;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.card .title--legendary {
  background-color: #f4d03f;
}

.card .title--legendary:hover {
  -webkit-box-shadow: 0 0 12px rgba(244, 208, 63, 0.8);
          box-shadow: 0 0 12px rgba(244, 208, 63, 0.8);
}

.card .title--epic {
  background-color: #8c14fc;
}

.card .title--epic:hover {
  -webkit-box-shadow: 0 0 12px rgba(140, 20, 252, 0.8);
          box-shadow: 0 0 12px rgba(140, 20, 252, 0.8);
}

.card .title--common {
  background-color: #2ecc71;
}

.card .title--common:hover {
  -webkit-box-shadow: 0 0 12px rgba(46, 204, 113, 0.8);
          box-shadow: 0 0 12px rgba(46, 204, 113, 0.8);
}

.card .desc {
  text-align: center;
  padding: 1.5rem;
}

.card .actions {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

.card .actions button {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  outline: 0;
  -webkit-transition: background-color 0.4s, color 0.4s, -webkit-transform 0.1s;
  transition: background-color 0.4s, color 0.4s, -webkit-transform 0.1s;
  transition: background-color 0.4s, color 0.4s, transform 0.1s;
  transition: background-color 0.4s, color 0.4s, transform 0.1s, -webkit-transform 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .actions button:hover {
  color: white;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

.card .actions button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.card .actions__like:hover {
  background-color: #00b16a;
}

.card .actions__trade:hover {
  background-color: #3498db;
}

.card .actions__cancel:hover {
  background-color: #c0392b;
}

p {
  margin-top: 1rem;
  color: #484848;
}

.active {
  background-color: #00b16a;
}

button::-moz-focus-inner {
  border: 0;
}

/*Animations*/
@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes plant-entrance {
  from {
    -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
            transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
            transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plant-entrance {
  from {
    -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
            transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
            transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@-webkit-keyframes plant-shake {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes plant-shake {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

/*
@media screen and (max-width: 842px) {
  .nav-links {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

}
@media screen and (min-width: 1414px) {
  .hero-img {
    display: none;
  }
  .hero-cindy {
    display: none;
  }
}
@media screen and (max-width: 434px) {
}
@media screen and (max-width: 320px) {
}
*/
.atuendos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.etiquetas-atuendos {
  padding: 5px 15px;
  border: 1px solid #bfbfbf;
  border-radius: 15px;
  text-transform: capitalize;
  margin-left: 10px;
}

.atuendoInfo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ebbfa3;
  margin: 2rem;
  text-align: center;
}

.atuendoInfo-wrapper h6 {
  font-weight: bold;
}

.atuendoInfo-wrapper .Etiquetas {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.atuendoInfo-wrapper .Descripcion {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.atuendoInfo-wrapper .Puntaje {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.star-rating {
  font-family: "FontAwesome";
  margin: 2rem auto;
}

.star-rating > fieldset {
  border: none;
  display: inline-block;
}

.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.star-rating > fieldset:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: #d35401;
}

.star-rating > fieldset:not(:checked) > label:before {
  content: "\f006  ";
}

.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
  color: #df8046;
  text-shadow: 0 0 3px #df8046;
}

.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  content: "\f005  ";
}

.star-rating > fieldset > input:checked ~ label:before {
  content: "\f005  ";
}

.star-rating > fieldset > label:active {
  position: relative;
  top: 2px;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
