body {
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

body .btn-success {
  background-color: #079453;
}

body .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .margin-container {
  margin-top: 5%;
}

body .container-empty {
  background: #f2f2f2;
  padding: 5%;
  text-align: center;
  font-size: 18px;
  border-radius: 11px;
  margin: 5% 0;
}

body .container-new-atuendos {
  width: 100%;
}

body .botonera-prendas {
  padding: 3em;
}

.actions a {
  color: black;
  text-align: center;
  font-size: 20px;
}

html {
  font-size: 62.5%;
}

label {
  font-size: 1.5rem;
}

li,
button,
a-title-head,
p {
  font-size: 2.5rem;
}

input {
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4,
h5 {
  font-size: 2.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.no-underline {
  text-decoration: none !important;
}

.section-wrapper {
  min-height: 89.9vh;
  background: rgba(180, 76, 20, 0.1);
}

.pagination > li > a {
  background-color: white;
  color: #b44c14;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > span {
  color: white;
  background-color: #b44c14 !important;
  border: solid 1px #b44c14 !important;
}

.alert {
  position: absolute !important;
  top: 11rem !important;
  right: 0 !important;
  z-index: 3;
}

.fade {
  opacity: 100% !important;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.text-primary {
  color: #f26a1c !important;
}

.carousel-caption p {
  color: white !important;
  text-shadow: 2px 2px 5px black;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(180, 100, 28, 0.4);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: -1;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

header {
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  min-height: 8vh;
}

.main-head {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.main-head .border-nav-one {
  background: #D35401;
  margin-bottom: 0;
  padding: 5px 1.25rem;
}

.main-head .border-nav-two {
  background: #d3540157;
  margin-bottom: 0;
  padding: 3px 1.25rem;
}

.nav-bar {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0rem;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.logo-img {
  max-width: 15rem;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

th,
td {
  font-size: 2rem;
}

body a.link-nueva-prenda {
  border-radius: 50%;
  vertical-align: middle;
  width: 56px;
  position: fixed;
  cursor: pointer;
  overflow: hidden;
  height: 56px;
  padding: 0;
  background-color: #D35400 !important;
  color: white;
  text-align: center;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  bottom: 3em;
  right: 3em;
  line-height: 56px;
}

body main {
  margin-top: 5%;
}

body main .container-btn-default {
  text-align: center;
  margin-top: 20px;
}

body main .btn-default {
  background-color: #a94b0e;
  color: white;
  padding: 0.5em 0.5em;
  font-size: 15px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

body main .btn-default:hover {
  background-color: #da6a22;
  color: white;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
}

.container_prenda_atuendos {
  display: inline-block;
  width: 90%;
}

.card {
  margin: 1rem;
  min-height: 25rem;
  min-width: 20rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.card .title {
  color: white;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.card .title--legendary {
  background-color: #f4d03f;
}

.card .title--legendary:hover {
  -webkit-box-shadow: 0 0 12px rgba(244, 208, 63, 0.8);
          box-shadow: 0 0 12px rgba(244, 208, 63, 0.8);
}

.card .title--epic {
  background-color: #d35400;
}

.card .title--epic:hover {
  -webkit-box-shadow: 0 0 12px rgba(211, 84, 0, 0.8);
          box-shadow: 0 0 12px rgba(211, 84, 0, 0.8);
}

.card .title--common {
  background-color: #2ecc71;
}

.card .title--common:hover {
  -webkit-box-shadow: 0 0 12px rgba(46, 204, 113, 0.8);
          box-shadow: 0 0 12px rgba(46, 204, 113, 0.8);
}

.card .desc {
  text-align: center;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .desc div {
  margin: 0.3rem;
}

.card .actions {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

.card .actions button {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  outline: 0;
  -webkit-transition: background-color 0.4s, color 0.4s, -webkit-transform 0.1s;
  transition: background-color 0.4s, color 0.4s, -webkit-transform 0.1s;
  transition: background-color 0.4s, color 0.4s, transform 0.1s;
  transition: background-color 0.4s, color 0.4s, transform 0.1s, -webkit-transform 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .actions button:hover {
  color: white;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

.card .actions button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.card .actions__like:hover {
  background-color: #00b16a;
}

.card .actions__trade:hover {
  background-color: #3498db;
}

.card .actions__cancel:hover {
  background-color: #c0392b;
}

p {
  margin-top: 1rem;
  color: #484848;
}

.active {
  background-color: #00b16a;
}

button::-moz-focus-inner {
  border: 0;
}

.color-primario {
  height: 1rem;
  width: 4rem;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: black;
}

.atuendos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.badge {
  padding: 0.7rem !important;
  margin: 1rem 0rem !important;
  margin-left: 1.5rem !important;
}

.star-rating {
  font-family: "FontAwesome";
  margin: 2rem auto;
}

.star-rating > fieldset.star-show {
  border: none;
  display: inline-block;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.star-rating > fieldset.star-show label {
  float: right;
  width: 1em;
  padding: 0 0.05em;
  overflow: hidden;
  white-space: nowrap;
  font-size: 200%;
  color: #d35401;
}

.star-rating > fieldset.star-show label > input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.star-rating > fieldset.star-show label:before {
  content: "\f006  ";
}

.star-rating > fieldset.star-show label.star-color {
  color: #df8046;
  text-shadow: 0 0 3px #df8046;
}

.star-rating > fieldset.star-show label.star-color:before {
  content: "\f005  ";
}

.star-rating > fieldset.star-edit {
  border: none;
  display: inline-block;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.star-rating > fieldset.star-edit:not(:checked) > input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.star-rating > fieldset.star-edit:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: #d35401;
}

.star-rating > fieldset.star-edit:not(:checked) > label:before {
  content: "\f006  ";
}

.star-rating > fieldset.star-edit:not(:checked) > label:hover,
.star-rating > fieldset.star-edit:not(:checked) > label:hover ~ label {
  color: #df8046;
  text-shadow: 0 0 3px #df8046;
}

.star-rating > fieldset.star-edit:not(:checked) > label:hover:before,
.star-rating > fieldset.star-edit:not(:checked) > label:hover ~ label:before {
  content: "\f005  ";
}

.star-rating > fieldset.star-edit > input:checked ~ label:before {
  content: "\f005  ";
}

.star-rating > fieldset.star-edit > label:active {
  position: relative;
  top: 2px;
}

.atuendo-descripcion {
  margin: 0 12px 32px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.login-form {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #f5f5f5;
  padding: 2rem 3rem;
  max-width: 27%;
  border-radius: 25px;
}

.login-form h1 {
  padding: 1rem 0rem;
}

.login-form .campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.login-form .campo input {
  font-size: 1.5rem;
  margin: 1rem 0rem;
  width: 70%;
}

.login-form label {
  font-size: 2rem;
}

.login-form .nuevo-user a {
  color: saddlebrown;
}

.login-form .nuevo-user p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.login-form .btn {
  font-size: 2rem;
  margin: 1.2rem;
  margin-bottom: 0rem;
  padding: 0.5rem 1.5rem;
  background: #a75123;
  border: #a75123;
}

.login-form .btn:hover {
  background: #663a00;
  border: #663a00;
}

.login-section {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.error_explanation {
  margin: 1rem;
}

.error_explanation li,
.error_explanation ul {
  font-size: 1.2rem;
}

.error_explanation h2 {
  font-size: 1.4rem;
}

@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

@keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #ccac94), color-stop(80%, #b4641c));
  background-image: linear-gradient(to top, #ccac94 20%, #b4641c 80%);
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  -webkit-animation: move_wave 10s linear infinite;
          animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  -webkit-animation: move_wave 15s linear infinite;
          animation: move_wave 15s linear infinite;
}

.cont_principal {
  position: absolute;
  margin-top: 1.5rem;
}

.cont_breadcrumbs_1 {
  position: relative;
  width: 100%;
  float: left;
  margin: 20px;
}

.cont_breadcrumbs_1 > ul > li {
  list-style: none;
  position: relative;
  float: left;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  background-color: #fff;
  -webkit-box-shadow: -2px 0px 20px -6px rgba(0, 0, 0, 0.5);
          box-shadow: -2px 0px 20px -6px rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 15rem;
  margin-left: -50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_breadcrumbs_1 > ul > li > a {
  display: block;
  padding: 10px;
  font-size: 20px;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  text-decoration: none;
  color: #444;
  font-weight: 300;
}

.cont_breadcrumbs_1 > ul > li:first-child {
  margin-left: 0px;
}

.cont_breadcrumbs_1 > ul > li:hover {
  background-color: #dcd4cf;
}

.cont_breadcrumbs_1 > ul > li:last-child {
  background-color: #b44c14;
}

.cont_breadcrumbs_1 > ul > li:last-child > a {
  color: #fff;
}

.cont_breadcrumbs_1 > ul:hover > li {
  margin-left: 0px;
}

#home {
  -webkit-clip-path: url(#cache);
          clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #b44c14;
  stroke-width: 12;
  stroke-miterlimit: 10;
  -webkit-animation: show 4s;
          animation: show 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: red;
  stroke-width: 12;
  stroke-miterlimit: 10;
  -webkit-animation: show 4s;
          animation: show 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #ccac94;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  -webkit-animation: draw 4s;
          animation: draw 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.15;
  }
}

@keyframes show {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.15;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 190px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 146px;
  font-weight: 700;
  margin: 0px;
  color: #232323;
}

.notfound .notfound-404 h1 > span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url("/assets/emoji.png");
  background-size: cover;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  z-index: -1;
}

.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #232323;
}

.notfound p {
  font-family: 'Montserrat', sans-serif;
  color: #787878;
  font-weight: 300;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  background-color: #f99827;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 115px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h1 > span {
    width: 86px;
    height: 86px;
  }
}

footer {
  background: #d35400;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h4 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  font-size: 2rem;
}
/*# sourceMappingURL=application.css.map */