<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta
      name="description"
      content="QueMePongo es un sitio web donde te ayudamos a crear tu outfit de la manera mas divertida!"
    />
    <%= stylesheet_link_tag "application.css" %>
    <link
      href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap"
      rel="stylesheet"
    />
    <title>Que Me Pongo | El arte de vestirse bien</title>
  </head>
  <body>
    <header class="main-head">
      <nav>
        <h1 class="logo" href="/prendas">Que me pongo</h1>
        <ul class="nav-links">
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#guardarropas">Guardarropas</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
